#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 0;
    background-image: linear-gradient(to left, #607395, #155e9d);
}
h1{
    margin-left: 2em;
    color: #dbd8e3;
    margin-right: 2em;
}

#links {
    display: flex;
    flex-direction: row;
   align-items: center;
   margin-right: 2em;
     
}

#loggedin-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 25em;
    color: #dbd8e3;
    font-size: 20px;
}

#Home-link{
    margin-right: 1em;
}

#Register-link{
    margin-right: 1em;
}

#Login-link{
    margin-right: 1em;
}

#routines-link{
    margin-right: 1em;
}
#myroutines-link{
    margin-right: 1em;
}

#activities-link{
    margin-right: 1em;
}

#log-out{
    color: #dbd8e3;
}